# OS & editors
.DS_Store
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.venv/
venv/
env/

# ROS 2 / colcon
build/
install/
log/
*~

# Data & results (keep only tiny samples in git)
data/
datasets/
bags/
*.bag
*.mp4
*.avi
results/*.png
results/*.jpg
